<h2>Pretrazite Vase omiljene igrace</h2>
<div>
    <app-smart-search-bar [titlePretrage]="pretragaPoImenu" [modPretrage]="modImeIgraca" [obsPretrage]="obsImeIgraca"></app-smart-search-bar>
</div>
<div>
    <app-smart-search-bar [titlePretrage]="pretragaPoDresu" [modPretrage]="modBrojDresaIgraca" [obsPretrage]="obsBrojDresaIgraca"></app-smart-search-bar>
</div> 
<div>
    <app-smart-search-bar [titlePretrage]="pretragaPoTimu" [modPretrage]="modTimIgraca" [obsPretrage]="obsTimIgraca"></app-smart-search-bar>
</div>
<div>
    <app-smart-search-bar [titlePretrage]="pretragaPoPoziciji" [modPretrage]="modPozicijaIgraca" [obsPretrage]="obsPozicijaIgraca"></app-smart-search-bar>
</div>
<div>Najbolji strelci :
    <ul>
    </ul>
</div> 
<div>Najiskusniji igraci: 
    <ul>
    </ul>
</div>
<div>Rezultati koji odgovaraju pretrazi :
    <ul>
    </ul>
</div>
<button (click)="goBack()">Nazad</button>