<nav>
    <a routerLink="/pretrazitimove">Pretrazi Timove</a>
    <a routerLink="/pretraziigrace">Pretrazi Igraca</a>
    <a routerLink="/pretrazistadione">Pretrazi Stadione</a>
    <a routerLink="/pretraziutakmice">Pretrazi Utakmice</a>
    <a routerLink="/tabela">Pogledaj Tabelu</a>
    <a routerLink="/admin">Admin Strana</a>
</nav>
<div>
    Dobrodosli u Beton Liga Manager-a, sajt koji je dizajniran da omoguci lako pretrazivanje igraca, timova i desavanja u lokalnoj prijateljskoj amaterskoj fudbalskoj ligi.
    Isto tako, ova platforma ima mogucnost dodavanja novih timova, igraca, utakmica, stadiona... 
    Ovo je veb sajt koje ce vam pruziti uvid u najtacniju i najopsezniju statistiku koju ste videli za vasu omiljenu ligu i prikazati najinteresantnije podatke vezane za nju koji ce,
    biti zabavni kako igracima u ligi tako i posmatracima i navijacima.
    Svet amaterskog malog fudbala je na klik od tebe, istrazi ga slobodno! 
</div>
