<div *ngIf="loadingStadion">Stadion se ucitava</div>
<div *ngIf="!loadingStadion">
  <div class="container shadow p-3">
    <div class="stadion">
      <div class=" col border rounded text-center shadow">
        <h3>{{ stadion.naziv }}</h3>
        <div>Tim kome pripada : {{ stadion.tim[0].Tim.naziv }}</div>
        <div>Kapacitet stadiona :{{ stadion.kapacitet }}</div>
        <div>Adresa stadiona : {{ stadion.adresa }}</div>
        <div>Opis stadiona: {{ stadion.opis }}</div>
      </div>
    </div>
    <div class="align-items-center">
      <div class=" col-5 ">
        <div class=" list-group-item list-group-item-action active text-center">
          Slicni stadioni po kapacitetu :
        </div>
        <ul *ngIf="!loadingSlicni" class="list-group">
          <li
            *ngFor="let stadion of slicniStadioni"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center hover"
          >
            <a [routerLink]="['/pretrazistadione/stadion', stadion.naziv]">{{
              stadion.naziv
            }}</a>
          </li>
        </ul>
      </div>
    </div>
    <button class="btn btn-secondary shadow" (click)="goBack()">Nazad</button>
  </div>
</div>
