<div *ngIf="!loadingUtakmica && !loadingRezulatat">
    <h3>{{domacin.Tim.naziv}} {{gost.Tim.naziv}}</h3>
    <div>Naziv utakmice : {{utakmica.naziv}}</div>
    <div>Opis utakmice : {{utakmica.opis}} </div>
    <div>Datum odigranja utakmice : {{utakmica.datum}}</div>
    <div>Vreme pocetka utakmice : {{utakmica.vreme}}</div>
    <div>Rezultat => {{domacin.Tim.naziv}} {{domacin.golovi}} : {{gost.golovi}} {{gost.Tim.naziv}} </div>
    <div *ngIf="ishodUtakmice">Ishod => {{ishodUtakmice}}</div>
    <h4 *ngIf="!loadingDomaciSastav">Sastav Domacih : 
    <ul>
        <li *ngFor="let igrac of domaciSastav">{{igrac.ime}} {{igrac.prezime}} {{igrac.brojDresa}}</li>
    </ul>
    </h4>
    <h4 *ngIf="!loadingGostujuciSastav">Sastav Gostiju : 
        <ul>
            <li *ngFor="let igrac of gostujuciSastav">{{igrac.ime}} {{igrac.prezime}} {{igrac.brojDresa}}</li>
        </ul>
    </h4>
    <h4 *ngIf="!loadingStrelci">Strelci na mecu :
        <ul>
            <li *ngFor="let strelac of strelci">{{strelac.vreme}} {{strelac.Igrac.ime}} {{strelac.Igrac.prezime}} {{strelac.Igrac.brojDresa}} {{strelac.Igrac.tim[0].Tim.naziv}}</li>
        </ul>
    </h4>
    </div>
<button (click)="goBack()">Nazad</button>