<form class="example-form flex-grow-1">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="{{titlePretrage}}" aria-label="Question" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup.enter)="pretraziTrenutno()">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let podatak of filtriraniPodaci | async" [value]="podatak.naziv">
          {{podatak.naziv}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
