<h2>Dodajte novi Tim : </h2>
<div class="form-group">
    <label for="nazivControl">Naziv :</label>
   <input 
       type ="text" 
       name="nazivControl"
       class="form-control" 
       [formControl]="nazivControl"/>
</div>
<div class="form-group">
    <label for="opisControl">Opis :</label>
   <input 
       type ="text" 
       name="opisControl"
       class="form-control" 
       [formControl]="opisControl"/>
</div>
<button (click)="dodajTim()">
    Dodaj Tim
</button>
<button (click)="goBack()">Nazad</button>
