<h2>Pretrazite Vase omiljene stadione</h2>
<div>
    <app-smart-search-bar [titlePretrage]="pretragaPoImenu" [modPretrage]="modImeStadiona" [obsPretrage]="obsImeStadiona"></app-smart-search-bar>
</div>
<div>
    <app-smart-search-bar [titlePretrage]="pretragaPoTimu" [modPretrage]="modImeTima" [obsPretrage]="obsImeTimStadiona"></app-smart-search-bar>
</div> 
<div>Stadioni sa najvise utakmica :
    <ul>
    </ul>
</div> 
<div>Stadioni sa najvecim kapacitetom : 
    <ul>
    </ul>
</div>
<div>Rezultati koji odgovaraju pretrazi :
    <ul>
    </ul>
</div>
<button (click)="goBack()">Nazad</button>
