<h2>Dodaj Novu Ligu : </h2>
<div class="form-group">
    <label for="nazivControl"> Naziv Lige :</label>
    <input
      type="text"
      name="nazivControl"
      class="form-control"
      [formControl]="nazivControl"
    />
    <div
      *ngIf="
        nazivControl.invalid && (nazivControl.dirty || nazivControl.touched)
      "
      class="m-1 alert alert-danger"
    >
      Potrebno je uneti naziv lige
    </div>
    <label for="opisControl">Opis Lige :</label>
    <input
      type="text"
      name="opisControl"
      class="form-control"
      [formControl]="opisControl"
    />
    <div
      *ngIf="
        opisControl.invalid && (opisControl.dirty || opisControl.touched)
      "
      class="m-1 alert alert-danger"
    >
      Potrebno je uneti opis lige
    </div>
    <button
      (click)="dodajLigu()"
      [disabled]="
        nazivControl.invalid ||
        opisControl.invalid
      "
      class="btn btn-primary"
    >
      Dodaj Ligu
    </button>
    <button (click)="goBack()">
      Nazad
    </button>
  </div>
