<h2>Pretrazite najinteresantnije utakmice</h2>
<div>
    <app-smart-search-bar [titlePretrage]="pretragaPoImenuTima" [modPretrage]="modImeTima" [obsPretrage]="obsImeTimaUtakmice"></app-smart-search-bar>
</div>
<div>
    <app-smart-search-bar [titlePretrage]="pretragaPoImenuDomacina" [modPretrage]="modImeTimaDomaci" [obsPretrage]="obsImeDomacinaUtakmice"></app-smart-search-bar>
</div>
<div>
    <app-smart-search-bar [titlePretrage]="pretragaPoImenuGosta" [modPretrage]="modImeTimaGosti" [obsPretrage]="obsImeGostaUtakmice"></app-smart-search-bar>
</div> 
<button>Pretrazite po gostu i domacinu zajedno</button>
<div>Utakmice sa najvise golova :
    <ul>
    </ul>
</div> 
<div>Rezultati koji odgovaraju pretrazi :
    <ul>
    </ul>
</div>
<button (click)="goBack()">
    Nazad
</button>
